---
# Create SAL9000 Event Log Source and configure log sizes
- name: Ensure 'SAL9000-Event' event source exists
  ansible.windows.win_eventlog:
    name: "{{ event_log_name }}"
    sources:
      - "{{ event_source_name }}"
    state: present
  register: sal9000_eventlog_result

# Optional debug (remove in CI) so you can see converge output
# - name: Debug sal9000_eventlog_result
#   debug:
#     var: sal9000_eventlog_result

- name: Configure Event Logs
  ansible.windows.win_eventlog:
    name: "{{ item }}"
    maximum_size: "{{ event_log_max_size_kb }}"
    overflow_action: OverwriteAsNeeded
    state: present
  loop: "{{ event_log_name_all }}"
