---
- name: Gather facts
  ansible.windows.setup:

- name: Show key Windows facts
  debug:
    msg: |
      ansible_distribution: {{ ansible_distribution }}
      ansible_os_installation_type: {{ ansible_os_installation_type }}

- name: Install Git
  chocolatey.chocolatey.win_chocolatey:
    name: git
    version: "2.53.0"
    state: present

- name: Install PowerShell 7
  chocolatey.chocolatey.win_chocolatey:
    name: pwsh
    version: "7.5.4"
    state: present
