---
- import_tasks: 01-eventlogs.yml
  tags:
    - eventlogs

- import_tasks: 02-firewall.yml
  tags:
    - firewall

- import_tasks: 03-timesync.yml
  tags:
    - timesync

- import_tasks: 04-rdp.yml
  tags:
    - rdp

- import_tasks: 05-local-accounts.yml
  tags:
    - local-accounts

- import_tasks: 06-timezone.yml
  tags:
    - timezone

- import_tasks: 07-packages.yml
  tags:
    - packages

- import_tasks: 08-ssh.yml
  tags:
    - ssh

- import_tasks: 09-services.yml
  tags:
    - services

- import_tasks: 10-rdp-firewall.yml
  tags:
    - rdp-firewall

- import_tasks: 11-remoteadmin-base.yml
  tags:
    - remoteadmin

- import_tasks: 99-report-changes.yml
  tags:
    - report
