---
- import_tasks: 01-eventlogs.yml
  tags:
    - eventlogs

- import_tasks: 02-firewall-config.yml
  tags:
    - firewall-conifg

- import_tasks: 03-timesync.yml
  tags:
    - timesync

- import_tasks: 04-rdp.yml
  tags:
    - rdp

- import_tasks: 05-local-accounts.yml
  tags:
    - local-accounts

- import_tasks: 06-timezone.yml
  tags:
    - timezone

- import_tasks: 07-packages.yml
  tags:
    - packages

- import_tasks: 08-ssh.yml
  tags:
    - ssh

- import_tasks: 09-services.yml
  tags:
    - services

- name: DEFOS | Firewall | Skip if globally disabled
  ansible.builtin.meta: end_task
  when: not defos_enable_firewall_rules | bool

- name: DEFOS | Firewall | Disable built-in rules (once)
  import_tasks: firewall/disable-builtins.yml
  when: defos_disable_builtin_rules | bool
  tags: [firewall, builtin]

- name: DEFOS | Firewall | Create managed rules (RDP + RemoteAdmin)
  import_tasks: firewall/create-rules.yml
  tags: [firewall, rdp, remoteadmin]

- name: DEFOS | Features | Configure features and capabilities
  import_tasks: 12-features.yml
  tags: [features]

- import_tasks: 99-report-changes.yml
  tags:
    - report
