---
# defaults file for roles/defos

# Event Log settings
event_log_name: 'Application'
event_source_name: 'SAL9000-Event'
event_log_name_all:
  - 'Application'
  - 'System'
  - 'Security'
event_log_max_size_kb: 51200kb    # does not accept an integer, must be a string with 'kb' suffix

# Global firewall defaults
defos_default_inbound_action: block
defos_default_outbound_action: allow

defos_log_allowed: false
defos_log_ignored: false
defos_log_blocked: true
defos_log_max_size_kb: 16384

# Per-profile configuration
defos_firewall_profiles:
  - profile: Domain
    log_file: "%SystemRoot%\\system32\\LogFiles\\Firewall\\domain_pfirewall.log"

  - profile: Private
    log_file: "%SystemRoot%\\system32\\LogFiles\\Firewall\\private_pfirewall.log"

  - profile: Public
    log_file: "%SystemRoot%\\system32\\LogFiles\\Firewall\\public_pfirewall.log"

# Control whether Windows Time uses SSL time data (0 = disable, 1 = enable)
defos_utilize_ssl_time_data: 0

# RDP defaults
defos_rdp_enable: true               # overall on/off switch
defos_rdp_nla: true                  # Network Level Authentication (UserAuthentication)
defos_rdp_service_name: TermService  # service to control
# firewall rule group name to enable (Windows built-in rules)
defos_rdp_firewall_group: "Remote Desktop"

# New defaults for renaming local built-in accounts
# New name for the built-in Administrator account
defos_admin_new_name: "WinAdmin"

# Either set a literal new name for Guest, or use guest suffix below.
# If defos_guest_new_name is empty, the role will compute "<COMPUTERNAME>{{ defos_guest_new_suffix }}"
defos_guest_new_name: ""          # e.g. "MyGuestAccount"  (leave empty to use computed name)
defos_guest_new_suffix: "-Guest"  # default suffix used when defos_guest_new_name is empty

# Sevices to disable
services_to_disable:
  - AppMgmt    # Application Management
  - HidServ    # Human Interface Device Service
  - RasMan     # Remote Access Connection Manager
  - Spooler    # Print Spooler (not present on Server Core 10.0.17763)

# RDP management IP list (merge of the Chef arrays)
defos_rdp_mgmt_ips:
  - 10.100.20.52        # X670E_M1
  - 10.100.30.108       # W25C_WAC001
  - 10.100.30.236       # W25C_WAC002
  - 10.100.30.34        # W25_MGMT01
  - 10.100.30.241       # W25G_MGMT001

# Common settings
defos_rdp_group: ANS_rdp_mgmt
defos_rdp_program: '%SystemRoot%\System32\svchost.exe'

# Remote Admin Management Host IPs
defos_remoteadmin_mgmt_ips:
  - 10.100.20.52      # X670E_M1
  - 10.100.30.108     # W25C_WAC001
  - 10.100.30.236     # W25C_WAC002
  - 10.100.30.34      # W25_MGMT01
  - 10.100.30.64      # W25_CMDR01
  - 10.100.30.241     # W25G_MGMT001

# Group name for all firewall rules
defos_remoteadmin_group: ANS_remoteadmin_base

