---
driver:
  name: default

platforms:
  - name: windows-instance
    host: 10.100.30.79
    groups:
      - windows
    vars:
      ansible_user: ansible-local
      ansible_password: Start123!
      ansible_connection: psrp
      ansible_psrp_auth: ntlm
      ansible_psrp_protocol: https
      ansible_psrp_cert_validation: ignore
      ansible_port: 5986

provisioner:
  name: ansible
  lint:
    name: ansible-lint

verifier:
  name: ansible

scenario:
  test_sequence:
    - dependency
    - syntax
    - converge
    - idempotence
    - verify

  create_sequence: []
  destroy_sequence: []
